@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

.container{
    box-sizing: border-box;
    width: calc(33.33% - 90px);
    margin-bottom: 20px;
    height: 20em;
    margin-top: 30px;
    display: flex;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    border-radius: 3em;
    transition: transform 0.2s ease-out, box-shadow 0.2s ease-out;
}
.container:hover{
    transform: scale(0.9);
    box-shadow: 0px 0px 50px rgba(0,0,0,0.7);
}
.container h3{
    font-family: 'Indie Flower', cursive;
    margin-bottom: 0;
}

.link{
    text-decoration: none;
    color: white;
    height: inherit;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 12px;
    align-items: center;
    width: -webkit-fill-available;
    border-radius: 3em;
    transition: 0.2s;
}
.link:hover{
    color: white;
    backdrop-filter: blur(2px);
    font-size: 12px;
    transition: 0.2s;
}
.link:visited{
    color: white;
    text-decoration: none;
}